#cerrar{
    position: absolute;
    z-index: 99;
    color: #555555;
    
    font-size: 1.2rem;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}
#cerrar:hover{
    color: #1f212d;
}
.hidden {
    transition: all ease-in-out 0.5s;
    display: none;
  }
.login-cont{
    position: fixed;
    display: flex;
    top: 25%;
    width: 50vw;
    left: -100vw;
    height: 30vw;
    z-index: 101;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.9s;
}
.login-back{
    position: relative;
    display: flex;
    width: 40vw;
    height: 100%;
    background-image: url(https://365psd.com/images/istock/previews/7895/78952481-wine-seamless-pattern-vector-texture-in-hand-draw-style.jpg);
    border-radius: 15px 0 0 15px;
    justify-content: center;
    transition: all ease-in-out 1s;
}
.login-form{
    background-color: white;
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    justify-items: center;
    align-content: center;

}
.login-form input{
    height: 29px;
    margin-bottom: 10px;
}

.btn-action-login{
    margin-left: 25%;
}
.btn-action-register{
    margin-left: 25%;
}

.register-form{
    background-color: white;
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    justify-items: center;
    align-content: center;
}
.register-form input{
    height: 29px;
    margin-bottom: 10px;
}
.btn-register{
    top: calc(55vw * 0.2 + 45px);
    position: absolute;
    left: calc(50vw * 0.45 - 100px);
    width: 100px;
    height: 30px;
    border: 2px solid transparent;
    border: none;
    background: #545454;
    border-radius: 13px 0 0 13px;
    color: whitesmoke;
    backdrop-filter: blur(1px);
    backdrop-filter: contrast(0.9);
    font-size: 1rem;
    font-family: 'Neutra-Text';
    font-weight: 500;
    cursor: pointer;
}
.btn-login{
    top: calc(55vw * 0.2);
    position: absolute;
    left: calc(50vw * 0.45 - 100px);
    width: 100px;
    height: 30px;
    border: 2px solid transparent;
    background: white;
    border-radius: 13px 0 0 13px;
    color: goldenrod;
    border-right: 0;
    font-size: 1rem;
    font-family: 'Neutra-Text';
    font-weight: 500;
    cursor: pointer;
    
}
#login-leave{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31,33,45,0.3);
    z-index: 100;
    transition: all ease-in-out .7s;
}

@media only screen and (max-width: 500px){
    .btn-register {
        top: 33%;
        position: absolute;
        left: 10%;
        width: 100px;
        height: 30px;
        border: 2px solid transparent;
        border: none;
        background: #545454;
        border-radius: 13px 0 0 13px;
        color: whitesmoke;
        backdrop-filter: blur(1px);
        backdrop-filter: contrast(0.9);
        font-size: 1rem;
        font-family: 'Neutra-Text';
        font-weight: 500;
        cursor: pointer;
    }
    .btn-login {
        top: 25%;
        position: absolute;
        left: 10%;
        width: 100px;
        height: 30px;
        border: 2px solid transparent;
        background: white;
        border-radius: 13px 0 0 13px;
        color: goldenrod;
        border-right: 0;
        font-size: 1rem;
        font-family: 'Neutra-Text';
        font-weight: 500;
        cursor: pointer;
    }
    .register-form, .login-form{
        background-color: white;
        position: relative;
        width: 100%;
        height: 100%;
        justify-content: center;
        border-radius: 0;
    }
    .login-back {
        position: relative;
        display: flex;
        width: 60vw;
        height: 100%;
        background-image: url(https://365psd.com/images/istock/previews/7895/78952481-wine-seamless-pattern-vector-texture-in-hand-draw-style.jpg);
        justify-content: center;
        transition: all ease-in-out 1s;
        border-radius: 0;
    }
    .login-cont {
        position: fixed;
        display: flex;
        top: 0;
        width: 100vw;
        left: -700px;
        height: 100%;
        z-index: 101;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        align-items: center;
        justify-content: center;
        transition: all ease-in-out 0.9s;
    }
}