.intro-container{
    position: relative;
    display: inline-flex;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 623px;
    width: 100%;
}
video{
    position: relative;
    display: inherit;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.products{
    position: relative;
    display: grid;
    height: 600px;
    width: 90%;
    transform: translate(-50%);
    left: 50%;
    background-color: rgb(204, 201, 201);
    border: 2px solid rgb(105, 102, 102);
}

.contacto{
    position:relative;
    bottom: 0;
    left: 0;
    background-color: #F1F1F3;
    border-top: 1px solid rgb(85, 5, 42);
    width: 100%;
    height: 215px;
    margin-top: 30px;
}


#cont_regiones
{
    position:relative;
    width:100%;
    height:auto;
    display:grid;
    grid-template-columns: repeat(2,35vw);
    grid-template-rows: auto;
    grid-gap:20px;
    justify-items: center;
    justify-content: center;
}

.cont_region_unite
{
    width: 100%;
    height: 25vw;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}
#cont_regiones div:nth-of-type(1) div:nth-of-type(1){
    height: 220px;
}
#cont_regiones div div p{
    padding-right: 55px;
}
#cont_regiones div:nth-of-type(1) div:nth-of-type(1) span:nth-of-type(1)
{
    width:100%;
    height: 25vw;
    margin-left: 0;
    background-color: transparent;
    display: flex;
    font-family: 'Neutra-Text';
    flex-direction: column;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}
#cont_regiones div:nth-of-type(2) div:nth-of-type(1) 
{
    background-image: url("../assets/Wine3.jpg");
    background-size: contain;
    background-size: 40% 100%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    margin-top: 25px;
}

#cont_regiones div:nth-of-type(2) div:nth-of-type(2) 
{
    background-image: url("../assets/Valle4.jpg");
    background-size: contain;
    background-size: 90% 100%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    margin-top: 25px;
}

#cont_regiones div:nth-of-type(1) div:nth-of-type(2) 
{
    background-image: url("../assets/Wine4.jpg");
    background-size: contain;
    background-size: 40% 100%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    margin-top: 25px;
}

#cont_regiones div div span
{
    width:60%;
    height: 25vw;
    background: white;
    margin-left: 40%;
    display: flex;
    font-family: 'Neutra-Text';
    flex-direction: column;
    padding: 25px;
    text-align: left;
    font-size: 1rem;
}

#cont_regiones div div span hr
{
    width: 85%;
    color: grey;
    margin-left: 0;
}
@media only screen and (max-width: 800px) {
    video{
        top: 52px;
        height: 50vh;
    }
    .author-container{
        left: 10vw;
        height: 10vh;
        width: 10vw;
    }
    .products{
        top: calc(910px);
    }
    .contacto{
        top: calc(1550px);
    }
    #cont_regiones{
    position:relative;
    width:100%;
    height:50%;
    display:grid;
    grid-template-columns:90vw;
    grid-template-rows: auto;
    grid-gap:20px;
    justify-items: center;
    justify-content: center;
    }
    .cont_region_unite{
    height: 90vw;
    }
    #cont_regiones div div span{
    width:60%;
    height: 90vw;
    background: white;
    margin-left: 40%;
    display: flex;
    font-family: 'Neutra-Text';
    flex-direction: column;
    padding: 25px;
    text-align: left;
    font-size: 3vw;
    }
    #cont_regiones div:nth-of-type(1) div:nth-of-type(1) span:nth-of-type(1){
    font-size: 2.5vw;
    }
    }