.intro-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 623px;
    width: 100%;
}
video{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 623px;
    object-fit: cover;
}
.author-container{
    position: absolute;
    height: 500px;
    width: calc(80vw - 4px);
    top: calc(560px + 74px);
    transform: translate(-50%);
    left: 50%;
    background-color: rgb(204, 201, 201);
    border: 2px solid rgb(105, 102, 102);
}

.products{
    position: absolute;
    display: grid;
    height: 600px;
    width: 90%;
    top: calc(1180px);
    transform: translate(-50%);
    left: 50%;
    background-color: rgb(204, 201, 201);
    border: 2px solid rgb(105, 102, 102);
}

.contacto{
    position:absolute;
    top: calc(1820px);
    left: 0;
    background-color: rgb(204, 201, 201);
    border: 2px solid rgb(105, 102, 102);
    width: calc(100% - 4px);
    height: 260px;
}