/* Superior */
.intro-container{
    position: relative;
    display: inline-flex;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 623px;
    width: 100%;
    overflow: hidden;
}
.intro-text{
    position: absolute;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    display: inline-flex;
    top: 231px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-family: "Brandon-Grotesque";
    font-weight: 300;
    font-size: 1.1vw;
  }
.intro-text h1{
    margin: 0;
    font-weight: 100;
  }
.slider-check{
    position: absolute;
    right:1.5rem;
    bottom:1.5rem;
}
#v1, #v2{
    z-index: 2;
    transition: all ease-in-out .3s;
}
#v1{
    height: 16px;
    border-radius: 360px;
    margin-right: 10px;
    cursor: default;
}
#v2{
    height: 16px;
    border-radius: 360px;
    cursor: pointer;
}
video{
    position: relative;
    display: inherit;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
/* Medio */
#cont_regiones
{
    position:relative;
    width:100%;
    height:auto;
    display:grid;
    grid-template-columns: repeat(2,35vw);
    grid-template-rows: auto;
    grid-gap:20px;
    justify-items: center;
    justify-content: center;
}
.cont_region_unite
{
    width: 100%;
    height: 25vw;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    transition: all cubic-bezier(0.39, 0.58, 0.57, 1) .5s;
}
.cont_region_unite:hover{
    transform: scale(1.02);
    
    cursor: pointer;
}
#cont_regiones div:nth-of-type(1) div:nth-of-type(1){
    height: 220px;
}
#cont_regiones div div p{
    padding-right: 55px;
}
#cont_regiones div:nth-of-type(1) div:nth-of-type(1) span:nth-of-type(1)
{
    width:100%;
    height: 25vw;
    margin-left: 0;
    background-color: transparent;
    display: flex;
    font-family: 'Neutra-Text';
    flex-direction: column;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}
#cont_regiones div:nth-of-type(2) div:nth-of-type(1) 
{
    background-image: url("../assets/fondos/Wine3.jpg");
    background-size: contain;
    background-size: 40% 100%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    margin-top: 25px;
}

#cont_regiones div:nth-of-type(2) div:nth-of-type(2) 
{
    background-image: url("../assets/fondos/Valle4.jpg");
    background-size: contain;
    background-size: 90% 100%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    margin-top: 25px;
}

#cont_regiones div:nth-of-type(1) div:nth-of-type(2) 
{
    background-image: url("../assets/fondos/Wine4.jpg");
    background-size: contain;
    background-size: 40% 100%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    margin-top: 25px;
}

#cont_regiones div div span
{
    width:60%;
    height: 25vw;
    background: white;
    margin-left: 40%;
    display: flex;
    font-family: 'Neutra-Text';
    flex-direction: column;
    padding: 25px;
    text-align: left;
    font-size: 1rem;
}

#cont_regiones div div span hr
{
    width: 85%;
    color: grey;
    margin-left: 0;
}

/* Productos */
.products{
    position: relative;
    display: grid;
    height: auto;
    width: 100%;
    /* left: 10vw; */
    grid-template-columns: repeat(4,20vw);
    /* padding-left: 30px; */
    justify-items: center;
    /* grid-gap: 2rem; */
    justify-content: center;

}
.product-title{
    position: relative;
    text-align: center;
    font-family: 'Biryani', sans-serif;
    font-weight: 400;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin-bottom: 25px;

}
.product-title hr{
    width: 80%;
}
.vino{
    position: relative;
    width: calc(15rem + 0.5vw);
    height: 400px;
    border: solid 1px gray;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: all cubic-bezier(0.39, 0.58, 0.57, 1) .5s;
}
.vino:nth-of-type(1) div{
    position: relative;
    width: 100%;
    height: 50%;
    top: 10px;
    border-radius: 15px 15px 0 0;
    background-image: url(../assets/productos/ejemplo.png);
    background-size: 40% 100%;
    background-position: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}
.vino:nth-of-type(2) div{
    position: relative;
    width: 100%;
    height: 50%;
    top: 10px;
    border-radius: 15px 15px 0 0;
    background-image: url(../assets/productos/ejemplo2.png);
    background-size: 40% 100%;
    background-position: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}
.vino:nth-of-type(3) div{
    position: relative;
    width: 100%;
    height: 50%;
    top: 10px;
    border-radius: 15px 15px 0 0;
    background-image: url(../assets/productos/ejemplo.png);
    background-size: 40% 100%;
    background-position: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}
.vino:nth-of-type(4) div{
    position: relative;
    width: 100%;
    height: 50%;
    top: 10px;
    border-radius: 15px 15px 0 0;
    background-image: url(../assets/productos/ejemplo2.png);
    background-size: 40% 100%;
    background-position: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}
.vino:hover{
    transform: scale(1.05);
}
.vino:nth-of-type(1){
    margin-left: 10px;
}
.vino h1:nth-of-type(1){
    position: relative;
    font-family: 'Brandon-Grotesque-Italic';
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}
.vino hr:nth-of-type(1){
    width: 60%;
}
.vino p:nth-of-type(1){
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-family: 'Brandon-Grotesque-Italic';
}
.vino p:nth-of-type(2){
    position: relative;
    float: right;
    padding-right: 20px;
}
@media only screen and (max-width: 500px) {
    .intro-container{
        top: 0;
        left: 0;
        height: 95vw;
    }
    .intro-text{
        font-size: 3vw;
        top: 163px;
    }
    .slider-check{
        position: absolute;
        right:1.5rem;
    }
    video{
        height: 50vh;
    }
    .author-container{
        left: 10vw;
        height: 10vh;
        width: 10vw;
    }
    .products{
        position: relative;
        display: grid;
        grid-template-columns: 90vw;
        grid-template-rows: auto;
        grid-gap: 20px;
        justify-items: center;
        justify-content: center;
    }
    #cont_regiones{
    position:relative;
    width:100%;
    height:50%;
    display:grid;
    grid-template-columns:90vw;
    grid-template-rows: auto;
    grid-gap:20px;
    justify-items: center;
    justify-content: center;
    }
    .cont_region_unite{
    height: 90vw;
    }
    #cont_regiones div div span{
    width:60%;
    height: 90vw;
    background: white;
    margin-left: 40%;
    display: flex;
    font-family: 'Neutra-Text';
    flex-direction: column;
    padding: 25px;
    text-align: left;
    font-size: 3vw;
    }
    #cont_regiones div:nth-of-type(1) div:nth-of-type(1) span:nth-of-type(1){
    font-size: unset;
    width: calc(100% - 25px);
    height: auto;
    display: flex;
    font-family: 'Neutra-Text';
    flex-direction: column;
    padding: 0;
    padding-left: 25px;
    margin: 0;
    text-align: center;
    }
    #cont_regiones div:nth-of-type(1) div:nth-of-type(1) {
        margin-top: 30px;
        height: unset;
    }
    #cont_regiones div:nth-of-type(1) div:nth-of-type(2) {
        margin-bottom: unset;
    }
}