@keyframes hideopacity {
    0% { opacity: 1}
    100% { opacity: 0}
  }
body::-webkit-scrollbar {
    width: 0.5em;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
body::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    outline: 1px solid rgb(157, 166, 175);
  }
html{
    /* background-image: url(../assets/background.jpg);*/
    background-color: rgb(72, 5, 32);
    background-size:auto;
    background-position: center;
}
nav {
    position: -webkit-sticky;
    position: sticky;
    position: fixed;
    top: 0;
    left: 0;
    height: 72px;
    width: 100%;
    z-index: 99;
    transition: all ease-in-out .7s;
}
nav.scrolled{
    background: whitesmoke;
    box-shadow: 5px -1px 12px -5px grey;
    opacity: 1;
}
.logo{
    position: absolute;
    top: 4px;
    width: 102px;
    height: 60px;
    z-index: 99; 
    left: 0;
    cursor: pointer;
}
.carro_white, .carro_gold{
    position: absolute;
    right: 5%;
    top: 15px;
    width: 38px;
    height: 38px;
    z-index: 99;
    transition: all ease-in-out .7s;
}
.perfil_white, .perfil_gold{
    position: absolute;
    right: 10%;
    top: 15px;
    width: 38px;
    height: 38px;
    z-index: 99;
    cursor: pointer;
    transition: all ease-in-out .7s;
}