html{
    background-color: rgba(16, 1, 21, 0.89);
}
.menu-container{
    position:fixed;
    top: 0;
    left: 0;
    background-color: rgb(204, 201, 201);
    border: 2px solid rgb(105, 102, 102);
    width: calc(100% - 4px);
    height: 60px;
    z-index: 99;
}
.video{
    position:absolute;
    top: 62px;
    left: 0;
    height: 480px;
    width: calc(100% - 4px);
    background-color: rgb(204, 201, 201);
    border: 2px solid rgb(105, 102, 102);
}
.author-container{
    position: absolute;
    height: 500px;
    width: calc(75% - 4px);
    top: calc(480px + 74px);
    transform: translate(-50%);
    left: 50%;
    background-color: rgb(204, 201, 201);
    border: 2px solid rgb(105, 102, 102);
}

.products{
    position: absolute;
    height: 600px;
    width: 90%;
    top: calc(1080px);
    transform: translate(-50%);
    left: 50%;
    background-color: rgb(204, 201, 201);
    border: 2px solid rgb(105, 102, 102);
}

.contacto{
    position:absolute;
    top: calc(1730px);
    left: 0;
    background-color: rgb(204, 201, 201);
    border: 2px solid rgb(105, 102, 102);
    width: calc(100% - 4px);
    height: 260px;
}