body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body::-webkit-scrollbar {
    width: 0.5em;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
body::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    outline: 1px solid rgb(157, 166, 175);
  }
html{
    /* background-image: url(../assets/background.jpg);*/
    background-color: whitesmoke;
    background-size:auto;
    background-position: center;
}
nav {
    position: -webkit-sticky;
    position: sticky;
    position: fixed;
    display: inline-flex;
    top: 0;
    background: black;
    left: 93%;
    border-radius: 0 0 0 15px;
    height: 52px;
    width: 7%;
    z-index: 99;
    justify-content: center;
    transition: all cubic-bezier(0.39, 0.58, 0.57, 1) .7s;
}
nav.scrolled{
    background: rgb(0, 0, 0);
    box-shadow: 5px -1px 12px -5px grey;
    opacity: 1;
    width: 100%;
    left:0;
    border-radius: unset;
}
.arrow{
  position: absolute;
  right: 5.8rem;
  top: 8px;
  width: 30px;
  height: 30px;
  z-index: 99;
  cursor: pointer;
  transition: all ease-in-out .7s;
}
.arrow:hover, .perfil_white:hover, .carro_white:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.carro_white{
    position: absolute;
    right: 0.8rem;
    top: 8px;
    width: 30px;
    height: 30px;
    z-index: 99;
    transition: all ease-in-out .7s;
}
.perfil_white{
    position: absolute;
    right: 3.5rem;
    top: 8px;
    width: 30px;
    height: 30px;
    z-index: 99;
    cursor: pointer;
    transition: all ease-in-out .7s;
}
.nav-logo{
  opacity: 0;
  width: 107px;
  height: 56px;
  transition: all ease-in-out .5s;
}
nav p{
  padding: 0;
  margin: 0; 
  line-height: 52px;
  opacity: 0;
  transition: all ease-in-out .5s;
  cursor: pointer;
  font-family: 'Prestage';
  font-size: 1.3rem;
}
.nav-contacto, .nav-vinos, .nav-expe, .nav-nosotros, .nav-logo{
  position: relative;
  color: whitesmoke;
}
.nav-contacto{
  padding-right: 30px;
}
.nav-vinos{
  padding-right: 30px;
}
@media only screen and (max-width: 500px) {
  .carro_white{
    position: absolute;
    right: 1.5rem;
  }
  .perfil_white{
    position: absolute;
    right: 4rem;
  }
  nav {
    background: whitesmoke;
    box-shadow: 5px -1px 12px -5px grey;
    transition: all ease-in-out 1.7s;
  }
  .perfil_white, .carro_white{
    opacity: 0;
    z-index: -25;
  }
  nav p{
    display: none;
  }
  .nav-logo{
    display: none;
  }
}