@keyframes carrusel{
    10%{
        background-image: url(../assets/Wine3.jpg);
    }
    30%{
        background-image: url(../assets/valle.jpg);
    }
    55%{
        background-image: url(../assets/Wine.jpg);
    }
    70%{
        background-image: url(../assets/wine3.jpg);
    }
    100%{
        background-image: url(../assets/wine2.jpg);
    }
}
.hidden {
    transition: all ease-in-out 0.5s;
    display: none;
  }
.login-cont{
    position: fixed;
    display: flex;
    top: 25%;
    width: 50vw;
    left: -100vw;
    height: 30vw;
    z-index: 99;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.9s;
}
.login-back{
    position: relative;
    display: flex;
    width: 40vw;
    height: 100%;
    background-image: url(../assets/Wine2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200% 130%;
    border-radius: 15px 0 0 15px;
    justify-content: center;
    transition: all ease-in-out 1s;
    animation: carrusel infinite 18s;
}
.login-form{
    background-color: white;
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    justify-content: center;
}
.login-form input{
    height: 29px;
}
.username-container{
    position: relative;
    top: calc(35% - 8px);
}
.password-container{
    position: relative;
    top: 35%;
}
.btn-action-login, .btn-action-register{
    position: relative;
    top: 36%;
    left: 30%;
}
.btn-register{
    top: calc(55vw * 0.2 + 45px);
    position: absolute;
    left: calc(50vw * 0.45 - 100px);
    width: 100px;
    height: 30px;
    border: 2px solid white;
    border: none;
    background: transparent;
    border-radius: 13px 0 0 13px;
    color: whitesmoke;
    backdrop-filter: blur(1px);
    backdrop-filter: contrast(0.9);
    font-size: 1rem;
    font-family: 'Neutra-Text';
    font-weight: 500;
    cursor: pointer;
}
.btn-login{
    top: calc(55vw * 0.2);
    position: absolute;
    left: calc(50vw * 0.45 - 100px);
    width: 100px;
    height: 30px;
    border: 2px solid white;
    background: white;
    border-radius: 13px 0 0 13px;
    color: goldenrod;
    border-right: 0;
    font-size: 1rem;
    font-family: 'Neutra-Text';
    font-weight: 500;
    cursor: pointer;
    
}
#login-leave{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
    transition: all ease-in-out .7s;
}
  /*#login-container{
    position:relative;
    display: flex;
    top: -500px;
    z-index: 99;
    width: 500px;
    border: 2px solid #272530;
    background: rgb(39, 4, 84);
    height: 180px;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out .7s;
}
/*