nav {
    position: -webkit-sticky;
    position: sticky;
    display: inline-flex;
    top: 0;
    background: black;
    right: 0;
    height: 52px;
    width: 100%;
    z-index: 99;
    justify-content: center;
    transition: all cubic-bezier(0.39, 0.58, 0.57, 1) .7s;
}
#perfil:hover, #busqueda:hover, #carro:hover, nav p:hover{
  text-shadow: 0 -1px 4px #bf0f36, 0 -2px 10px #a50431, 0 -10px 20px #ff0069, 0 -18px 40px #9a00ff;
  cursor: pointer;
}
#carro{
    position: absolute;
    right: 0.8rem;
    line-height: 52px;
    color: whitesmoke;
    z-index: 99;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all ease-in-out .4s;
}
#perfil{
  position: absolute;
  right: 3.5rem;
  line-height: 52px;
  color: whitesmoke;
  z-index: 99;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all ease-in-out .4s;
}
#busqueda{
  position: absolute;
  right: 5.8rem;
  line-height: 52px;
  color: whitesmoke;
  z-index: 99;
  font-size: 1.29rem;
  cursor: pointer;
  transition: all ease-in-out .4s;
}
.nav-logo{
  width: 107px;
  height: 56px;
  top: -3px;
  cursor: pointer;
  transition: all ease-in-out .5s;
}
.nav-logo:hover{
  
  cursor: pointer;
}
nav p{
  padding: 0;
  margin: 0; 
  line-height: 52px;
  transition: all ease-in-out .5s;
  cursor: pointer;
  font-family: 'Prestage';
  font-size: 1.3rem;
}
.nav-contacto, .nav-vinos, .nav-expe, .nav-nosotros, .nav-logo{
  position: relative;
  color: whitesmoke;
}
.nav-contacto{
  padding-right: 30px;
}
.nav-vinos{
  padding-right: 30px;
}
#tring-cart {
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  display: none;
  top: 53px;
  right: 1vh;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 22px solid #262424;
  transition: all ease-in-out .1s;
}


#cont-cart{
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  z-index: 99;
  display: none;
  top: 75px;
  right: 1vh;
  width: 25vw;
  min-height: 250px;
  height: auto;
  background-color: #262424;
  border-radius: 6px 1px 6px 6px;
  transition: all ease-in-out .1s;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  
}
.cart-content:hover #cont-cart{
  display: block;
}
.cart-content:hover #tring-cart{
  display: block;
}
#cont-cart p 
{
    color: whitesmoke;
    padding: 0 50px 0 50px;
}
@media only screen and (max-width: 500px) {
  #carro{
    position: absolute;
    right: 3.5rem;
  }
  #perfil{
    position: absolute;
    right: 6rem;
  }
  nav {
    background: #24262b;
    box-shadow: 5px -1px 12px -5px grey;
    transition: all ease-in-out 1.7s;
    border-radius: 0;
    width: 100%;
    height: 53px;
    right: 0;
  }
  .nav-contacto, .nav-vinos, .nav-expe, .nav-nosotros, .nav-logo{
    position: relative;
    color: whitesmoke;
    display: unset;
    top: 0;
  }
  .nav-contacto{
    padding-right: 30px;
  }
  .nav-vinos{
    padding-right: 30px;
  }
}