nav {
    position: -webkit-sticky;
    position: sticky;
    display: inline-flex;
    top: 0;
    background: black;
    right: 0;
    height: 52px;
    width: 100%;
    z-index: 99;
    justify-content: center;
    transition: all cubic-bezier(0.39, 0.58, 0.57, 1) .7s;
}
.count{
  position: absolute;
  top: 3px;
  right: 0.95rem;
  background-color: #f15671;
  width: 16px;
  color: #2e0c0c;
  font-size: 15px;
  height: 16px;
  opacity: 0;
  font-weight: 1000;
  text-align: center;
  line-height: inherit;
  border-radius: 360px;
}
#perfil:hover, #busqueda:hover, #carro:hover, nav p:hover, #movile:hover{
  text-shadow: 0 -1px 4px #bf0f36, 0 -2px 10px #a50431, 0 -10px 20px #ff0069, 0 -18px 40px #9a00ff;
  cursor: pointer;
}
#carro{
    position: absolute;
    right: 0.8rem;
    line-height: 52px;
    color: whitesmoke;
    z-index: 99;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all ease-in-out .4s;
}
#perfil{
  position: absolute;
  right: 3.5rem;
  line-height: 52px;
  color: whitesmoke;
  z-index: 99;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all ease-in-out .4s;
}
#busqueda{
  position: absolute;
  right: 5.8rem;
  line-height: 52px;
  color: whitesmoke;
  z-index: 99;
  font-size: 1.29rem;
  cursor: pointer;
  transition: all ease-in-out .4s;
}
.nav-logo{
  width: 107px;
  height: 56px;
  top: -3px;
  cursor: pointer;
  transition: all ease-in-out .5s;
}
.nav-logo:hover{
  
  cursor: pointer;
}
nav p{
  padding: 0;
  margin: 0; 
  line-height: 52px;
  transition: all ease-in-out .5s;
  cursor: pointer;
  font-family: 'Prestage';
  font-size: 1.3rem;
}
.nav-contacto, .nav-vinos, .nav-expe, .nav-nosotros, .nav-logo{
  position: relative;
  color: whitesmoke;
}
.nav-contacto{
  padding-right: 30px;
}
.nav-vinos{
  padding-right: 30px;
}
#tring-cart {
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  display: none;
  top: 53px;
  right: 1vh;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 22px solid #262424;
  transition: all ease-in-out .1s;
}


#cont-cart{
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  z-index: 99;
  display: none;
  top: 75px;
  right: 1vh;
  width: 25vw;
  min-height: 250px;
  max-height: 500px;
  background-color: #262424;
  border-radius: 6px 1px 6px 6px;
  transition: all ease-in-out .1s;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}
#cont-cart::-webkit-scrollbar {
  width: 0.3em;
}
 
#cont-cart::-webkit-scrollbar-thumb {
  background-color: #f5f5f59c;
}
.cart-content:hover #cont-cart{
  display: block;
}
.cart-content:hover #tring-cart{
  display: block;
}
#cont-cart p 
{
    color: whitesmoke;
    padding: 0 50px 0 50px;
}
#cont-cart p:hover{
  text-shadow: none;
}
#movile{
  display: none;
  position: absolute;
  left: 15px;
  line-height: 53px;
  color: whitesmoke;
  font-size: 1.6rem;
  transition: all ease-in-out 1s;
  opacity: 0;
}
#bkg{
  display: none;
}
/* Poner resolucion 1280x720*/
@media only screen and (max-width: 500px) {
  #movile{
    display: unset;
    position: absolute;
    left: 15px;
    line-height: 53px;
    color: whitesmoke;
    font-size: 1.6rem;
    transition: all ease-in-out 1s;
    cursor: pointer;
    opacity: 1;
  }
  #carro{
    position: absolute;
    right: 0.8rem;
  }
  #perfil{
    position: absolute;
    right: 3.5rem;
  }
  #busqueda{
    right: 6rem;
  }
  #cont-cart{
    width: 65vw;
  }
  #bkgmov{
    position: absolute;
    width: 9rem;
    height: 10rem;
    background: #24262b;
    transition: all ease-in-out 0.7s;
    border-radius: 0 0 15px 0;
    left: 0;
    top: 53px;
    display: unset;
    opacity: 0;
  }
  nav {
    background: #24262b;
    box-shadow: 5px -1px 12px -5px grey;
    transition: all ease-in-out 1.7s;
    border-radius: 0;
    width: 100%;
    height: 53px;
    right: 0;
  }
  nav p{
    padding: 0;
    margin: 0; 
    line-height: 52px;
    transition: all ease-in-out .5s;
    cursor: pointer;
    font-family: 'Prestage';
    font-size: 1.3rem;
  }
  .nav-contacto, .nav-vinos, .nav-expe, .nav-nosotros, .nav-logo{
    position: relative;
    color: whitesmoke;
  }
  .nav-logo{
    left: -5px;
  }
  .nav-contacto{
    position: absolute;
    top: 155px;
    left: 15px;
    font-size: 1.6rem;
    z-index: -3;
    opacity: 0;
  }
  .nav-expe{
    position: absolute;
    top: 85px;
    left: 15px;
    font-size: 1.6rem;
    z-index: -3;
    opacity: 0;
  }
  .nav-nosotros{
    top: 120px;
    left: 15px;
    font-size: 1.6rem;
    z-index: -3;
    opacity: 0;
    position: absolute;
  }
  .nav-vinos{
    position: absolute;
    top: 50px;
    left: 15px;
    font-size: 1.6rem;
    z-index: -3;
    opacity: 0;
  }
  }

  