.Search{
    position: relative;
    width: 300px;
    height: 32px;
    top: 54px;
}
.buscar{
    position: relative;
    height: 60px;
    width: 60px;
    top: 54px;
}
#contenedor_market {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 73px;
    grid-template-columns: 80% 20%;
    grid-template-rows: 80vh;
}

.celda_market {
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
    grid-gap: 15px;
    justify-content: center;
    margin-top: 12px;
}
.celda_market div{
    position: relative;
    width: 100%;
    height: 50%;
    top: 10px;
    border-radius: 15px 15px 0 0;
    background-size: 40% 100%;
    background-position: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}
.celda_market p{
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-family: 'Brandon-Grotesque-Italic';
}
.celda_market h1{
    position: relative;
    font-family: 'Brandon-Grotesque-Italic';
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}
.celda_market section 
{
    height: 450px;
    border-radius: 15px;
    border: solid 1px gray;
    text-align: center;
    font-family: monospace;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: whitesmoke;
    transition: all cubic-bezier(0.39, 0.58, 0.57, 1) .5s;
}
.celda_market section:hover{
    transform: scale(0.99);
}
.celda_market section p 
{
    font-size: 0.7vw;
}

.celda_carrito 
{
    position: relative;
}

.celda_carrito button 
{
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    color: #333;
    background: white;
    font-family:monospace;
    height: 30px;
    width: 200px;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid transparent;
}

.celda_carrito button:hover 
{
    transition: all ease 2s;
    border: 1px solid #333;
}

.celda_carrito
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.celda_carrito h1, .celda_carrito p
{
    color: white;
    font-family:monospace;
    font-size: 1vw;
}

.celda_carrito p 
{
    font-size:0.7vw;
}

#carrito_content 
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#carrito_content p 
{
    padding: 0 50px 0 50px;
}

@media only screen and (max-width: 500px){
    .celda_market, .celda_market2{
        grid-template-columns: 60vw;
    }
    .celda_market section p, .celda_market2 section p{
        font-size: 1rem;
    }
    .celda_market section h1, .celda_market2 section h1{
        font-size: 1.2rem;
    }
}